{% extends "app_base.html" %}
{% block content %}

<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
label {
	font-size: 18px;
	width: 14%;
    display: inline-block;
}​
tr:hover {background-color: #f5f5f5}
</style>
</head>

<h3 style="font-size:40px; font-family:Arial;"> View Picks </h3> 

<form method="POST" action="view" role="form" style="max-width:400px; width:100%">
	{% if message is defined %}
	<div class="alert alert-warning" role="alert">{{ message }}</div>
	{% endif %}
	<div style="width:200%" class="form-group">
	  <label style="font-size:20px" for="username">Username</label>
	  <input style="width:70%" type="text" id="username" name="username" />
	</div>
	<div><input type="submit" value="Search for Username" class="btn btn-primary" /></div>
</form>

<ul>
{% if search_result %}

<div style="width:200%">
	<h3>{{ search_result[0]["Username"]|e }}</h3>
	{% if search_result[0]["Eligible"] %}
		<h3 style="font-size:20px;">Eligible</h3>
	{% else %}
		<h3 style="font-size:20px">Not Eligible</h3>
	{% endif %}
	<br></br>
</div>

<table border="1" style="width:70%">
	  <tr>
	  	<th width="20%">Event</th>
	    <th width="20%">1st</th>
	    <th width="20%">2nd</th> 
	    <th width="20%">3rd</th>
	    <th width="20%">4th</th>
	  </tr>
	</table>

{% for result in search_result %}
	<table border="1" style="width:70%">
	  <tr>
	  	<td width="20%">{{ result["Event"]|e }}</td>
	    <td width="20%">{{ result["First"]|e }}</td>
	    <td width="20%">{{ result["Second"]|e }}</td> 
	    <td width="20%">{{ result["Third"]|e }}</td>
	    <td width="20%">{{ result["Fourth"]|e }}</td>
	  </tr>
	</table>
{% endfor %}
{% else %}
<label style="font-size:15x; padding:20px; width:100%">Username not found</label>

{% endif %}
</ul>


{% endblock %}
